.navbar {
  padding:5vh;
}

.navbar-link{
  color: white;
}
.menu > div{
  background-size: 100%; background-repeat: no-repeat;
}

@media only screen and (max-device-width: 480px) {
  .profile-btn{
background-position: 0px -200px;
  }
  .resume-btn{
    background-position: 0px 0px;
  }
  .portfolio-btn{
    background-position: 0px 0px;
  }
  .contact-btn{
    background-position: 0px 0px;
  }
}
@media only screen and (min-device-width: 480px) {
.profile-btn{
  background-position: 0px 50%;
}
  .resume-btn{
    background-position: 0px 30%;
  }
  .portfolio-btn{
    background-position: 0px 30%;
  }
  .contact-btn{
    background-position: 0px 60%;
  }
}